@charset "UTF-8";
@font-face {
    font-family: fonte_logo;
    src: url(fontes/OPTIEton-Bold.otf) format('opentype');
    font-weight: normal;
    font-style: normal; 
}

body {
    background-color:#f8e1d4;
    font-family: fonte_logo;
    src: url(fontes/OPTIEton-Bold.otf) format('opentype');
    font-weight: lighter;
    font-style: normal;
}
h1 {
    text-align: center;
    line-height: 50%;
    font-family: fonte_logo;
    src: url(fontes/OPTIEton-Bold.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
    color:#039E89
}
div {
    text-align: center;
    display: block;
    color:black;
    width: 300px;
}

/* Para colocar divs lado a lado seguir o artigo: https://dev.to/dawnind/3-ways-to-display-two-divs-side-by-side-3d8b#:~:text=The%20most%20common%20way%20to,using%20inline%2Dblock%20css%20property.&text=The%20inline%2Dblock%20property%20on,like%20an%20inline%20element%20does. */ 

/* Cores do projeto: FC5E05, 03AC68, 039E89 */